services:
  postgres:
    image: postgres:17-alpine
    container_name: events_bot_postgres
    hostname: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  bot:
    build: .
    container_name: events_bot
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
